body{

margin:0;
padding:0;
background: #faf7f7;
}

.name {

 width: 100%; 
 height: 300px; 
 background: #1cd5e2; 
 transform: skewY(5deg);
}
   
.name .content {

    width: 50%;
    height: 50%;
    position:absolute;
    left: 25%;

}

.name .content .p-1 {

    color: #faf7f7;
    font-family: cursive;
    font-weight:bolder;
    font-size: 40px;
    transform: skewY(-5deg);
    margin-bottom: 0;
    

}


 .name .img{

    position: absolute;
    top: 18%;
    right: 5%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
 }

 .name .img .img{

    width: 180px ;
    height: 320px;
 }

.info{
    width: 90%;
    height: auto;
    background: #1cd5e2;
    margin: 5% auto;
    border-radius: 20px;

}

.info .tituloSeccion{
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px azure dashed ;
  

}

.info .tituloInfo{
    
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px; 
}

.info .infoInfo{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}

.info .titulotele{
    
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px; 
}

.info .teleTele{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}

.info .titulodirec{
    
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px; 
}

.info .direcDirec{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}

.info .titulocorre{
    
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px; 
}

.info .correCorre{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}

.info .titulofecha{
    
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px; 
}

.info .fechaFecha{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}

.edu{
    width: 90%;
    height: auto;
    background: #1cd5e2;
    margin: auto;
    border-radius: 20px;

}

.edu .tituloSeccion{
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px azure dashed ;

}


.edu .tituloedu{
    
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px; 
}

.edu .eduEdu{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}


.edu .tituloedusup{
    
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px; 
}

.edu .edusupEdusup{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}

.per {

    width: 90%;
    height: auto;
    background: #1cd5e2;
    margin: auto;
    border-radius: 20px;

}

.per .tituloSeccion{
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px azure dashed ;

}

.per .perPer{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}